body {
    margin: 0;
    padding: 0;
    background-image: url('../images/menu.jpg');
    background-position: 100% 2%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'sans-serif', Arial, Helvetica, Verdana, Geneva, Tahoma;
}

header > h1 {
    margin-left: 80px;
    margin-top: 0px;
}

ul {
    list-style-type: none;
    margin-top: -28px;
    padding: 0;
    overflow: hidden;
    margin-left: 80px;
    
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f443362d;
    font-weight: bold;
}

li a:link, li a:visited {
    color: #00ffff;
}

li a:hover, li a:active{
    background-color: #ff4500;
}

.menuNav {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 280px;
    padding-top: 30px;
}

.menuNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #a8710a;
    display: block;
    font-size: 20px;
}

.menuNav a:hover {
    background-color: #ffe600;
}

.authButtons {
    margin-left: 60%;
    margin-top: 20%;
    padding: 20px;
}

.signup, .signin {
    background-color: #6a5acd;
    border: 1px solid #6a5acd;
    height: 60px;
    width: 100px;
    color: #fefbef;
    font-weight: bold;
}

.signup a {
    text-decoration: none;
}

.signin a {
    text-decoration: none;
}

footer {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f1e8d9;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

footer>p{
    display: inline-block;
    line-height: 4px;
    padding-right: 10px;
    padding-left: 10px;
}
